*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
header{
    background: linear-gradient(180deg, #000000 0%, rgba(99, 99, 99, 0) 100%),  url(../img/header/bg-head.png);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 299px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 73px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(226, 226, 226, 0.375);
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.head-title {
    margin-top: 362px;
    color: white;
    font-family: sans-serif;
    width: 600px;
    margin-left: 103px;
}
.head-title-1 {
font-weight: 400;
font-style: "Regular";
font-size: 14px;
padding-bottom: 17px;
}
.head-title-2 {
    font-size: 72px;
    font-style: "Regular";
    font-weight: 400;
    padding-bottom: 27px;
}
.head-tit-btn{
    margin-left: 103px;
    font-family: sans-serif;
}
.head-title-btn {
    border: 1px solid white;
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    font-size: 13px;
}
.head-title-btn-link{
    text-decoration: none;
    color: white;
}
.top-title1 {
font-family: "Font 1", sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 40px;
text-align: center;
padding-bottom: 20px ;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.btn {
   border: 1px solid rgba(251, 75, 122, 1);
}
.btn-l{
    color: rgba(251, 75, 122, 1);
    text-align: center;
}
.popular{
    margin-bottom: 176px;
}
.p-boxes {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.p-box {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
    width: 285px;
    margin-bottom: 20px;
}
.cuci{
    margin-bottom: 20px;
}
.p-box-img {
    padding-bottom: 18px;
}
.p-box-title {
    text-align: center;
    font-family: "Font 1", sans-serif;
    padding-bottom: 10px;
}
.p-box-btn {
    display: flex;
    justify-content: center;
    font-family: "Font 1", sans-serif;
    padding-bottom: 10px;
    background-color: rgba(251, 75, 122, 1);
    width: 107px;
    border-radius: 20px;
    padding: 10px 105px;
    margin-left: 38px;
    border: none;
    text-decoration: none;
    color: white;
     
}




/* o-nas sec. start*/
.o-nas {
    background-color: rgba(248, 248, 255, 1);
}
.mw{
     max-width: 1110px;
     margin-left: auto;
     margin-right: auto;
}
.o-nas-container{
    padding-top: 173px;
    display: flex;
    justify-content: space-between;
    gap: 133px;
    align-items: center;
    margin-bottom: 182px;
    border-bottom: 1px solid rgba(39, 39, 42, 0.17);
    padding-bottom: 182px;  
}
.o-nas-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.o-nas-left {
    width: 440px;
}
.o-nas-img{
    width: 428px;
}
.o-nas-vdbtn{
    border: none;
    cursor: pointer;
}
.o-top {
    padding-bottom: 36px;
}
.o-title {
    font-family: "Font 1", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: "regular";
}
.o-text2 {
font-family: "Font 1";
font-weight: 700;
font-style: Bold;
font-size: 16px;
color: rgba(100, 100, 103, 1);
padding-bottom: 13px;
line-height: 28px;
}
.o-text{
    font-family: "Font 1";
font-size: 16px;
color: rgba(100, 100, 103, 1);
padding-bottom: 13px;
line-height: 28px;
}
.boxes1-box {
    text-align: center;
    width: 380px;
}
.st-box-img {
    padding-bottom: 10px;
}
.st-box-title {
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    font-style: "Regular";
    padding-bottom: 20px;
}
.st-box-text {
font-family: "Font 1";
font-weight: 390;
font-style: "Medium";
font-size: 15px;
color: rgba(100, 100, 103, 1);
padding-bottom: 13px;
line-height: 28px;
}
/* o-nas section end*/

.o-brend {
   background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%),  url(../img/o-brend/o-brend.png);
   padding-top: 297px;
}
.div1{
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 400px;
    text-align: center;

}
.o-brend-text{
    text-align: center;
}
.o-brend-title {
    color: white;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 30px;
}
.o-brend-btn{
    width: 150px;
    padding: 10px;
}
.o-brend-div2{
    background-color: black;
    height: 121px;
    display: flex ;
    justify-content: center;
    align-items: center;
    
}
.o-div2-btn{
    width: 400px;
}
.o-div2-text{
   background-color: rgba(217, 0, 112, 1);
   border: 1px solid white;
   text-decoration: none;
   color: white;
   padding: 10px;
   border-radius: 20px;
   margin-left: 75px;
   font-family: "Font 1", sans-serif;
   font-size: 16px;
}
.footer {
    background-color: rgba(2, 7, 79, 1);
    display: flex;
    align-items: center;
    gap: 115px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo-img{
    width: 140px;
    padding-bottom: 10px;
}
.logo-icons {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.footer{
    width: auto;
}
.footer-list {
    list-style: none;
    display: flex;
    gap: 20px;
   flex-wrap: wrap;
}
.footer-link {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
.imput-text {
    padding-bottom:20px;
}
.footer-inputs{
    flex-wrap: wrap;
}
.footer-input {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.finput {
    padding: 10px;
    background-color: rgba(2, 7, 79, 1);
    border: 1px solid rgb(66, 65, 65);
}
.input-btn {
    padding: 10px;
    color: rgba(2, 7, 79, 1);
    border-radius: 3px;
    border: none;

}
.bottom {
    text-align: center;
    background-color: #02023a;
    padding: 30px;
}
.bottom-t{
    margin-top: 15px;
    text-decoration: none;
}
.menu {
    display: inline-block;
    display: none;
    padding-top: 10px;

}
.bar {
    display: block;
    background-color: white;
    height: 3px;
    width: 30px;
    margin-bottom: 8px;
    border-radius: 20px;
}

/* nav listdagi ozgarish */
.act{
    color: rgb(248, 54, 54);
}



/* katalog css start*/
.katalog-header{
    background-color: black;
}
.katalog-contaoner{
    max-width: 1840px;
    margin-left: auto;
    margin-right: auto;
}

.katalog-body{
    background-color: rgba(248, 248, 255, 1);
}
.katalog-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.katalog-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
    background-color: white;
    padding: 84px 106px;
    margin-top: 64px;
}
.katalog-box{
    width: 335px;
}
.katalog-box-img{
    width: 335px;
}
.katalog-box-btn{
        margin-left: 62px;
}
.katalog-top-titles {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.left-title {
font-family: font family/"Font 1", sans-serif;
font-weight: font weight/500;
font-style: Medium;
font-size: 14.7px;
line-height: line height/28_8;
letter-spacing: 0%;
vertical-align: middle;
color: rgba(119, 119, 119, 1);
padding-bottom: 14.7px;
}
/*katalog css end*/


/*opt css start*/
.opt-popular{
   background-color: white;
   margin-top: 60px;
   padding-top: 120px;
}
.opt-body{
   background-color: rgba(248, 248, 255, 1);
}
/*opt css end*/

/* kontakt css start */
.contact {
 padding: 136px 217px;
}
.con-left-title {
font-family: "Geist";
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: rgba(0, 0, 0, 1);
padding-bottom: 25px;
}
.con-left-text {
font-family: "Geist";
font-weight: 400;
font-style: "Regular";
font-size: 18px;
line-height: 120%;
letter-spacing: 0%;
color: rgba(119, 114, 110, 1);
padding-bottom: 67px;
}



.contact-container {
    display: flex;
    gap: 400px;
}


.con-input {
    display: block;
    margin-bottom: 105px;
    width: 400px;
    border: none;
    padding-bottom: 20px;
    border-bottom: 4px solid rgba(2, 7, 79, 1);
    font-size: 18px;
    outline: none;
}
.con-btn {
    background-color:rgba(2, 7, 79, 1) ;
    border-radius: 48px;
    width: 372px;
    padding: 24px 121px;

  
}
.con-btn-link{
    text-decoration: none;
      font-size: 24px;
    color: white;
    font-family: Geist;
font-weight: 600;
font-style: SemiBold;
font-size: 24px;
line-height: 120%;
letter-spacing: 0%;

}
.con-right-top {
    margin-bottom: 108px;
}
.con-right-top-text {
font-weight: 700;
font-style: Bold;
font-size: 32px;

}
.con-right-top-tell {
    font-weight: 100;
    border-bottom: 1px solid ;
    padding-bottom: 1px;
    font-size: 350x;
    font-family: sans-serif;
}
.con-right-bottom-adress {
    font-family: "Geist";
font-weight: 400;
font-style: "Regular";
font-size: 18px;
line-height: 120%;
letter-spacing: 0%;
margin-bottom: 97px;
}
.con-right-links{
    display: flex;
    gap: 64px;
}
/* kontakt css end */




/* header media start*/
@media (max-width:1250px) {
    header{
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 25px;
        padding-bottom: 80px;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url(../img/header/bg-head.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
}
@media (max-width: 800px){
    .head-title {
    margin-left: 50px;
    width: 370px;
    flex-wrap: wrap;
    margin-top: 82px;
}
}
@media (max-width: 745px) {
    .nav-list{
        position: absolute;
        width: 100%;
        background-color: #ffffff;
        top: 110px;
        right: 0;
        display: none;
        padding-top: 14px;
    }
    .nav-link{ 
        color: #000000;

    }
    .act{
    color: rgb(248, 54, 54);
}
    .menu{
        display: block;
        cursor: pointer;
    }
    .nav-item{
        margin-bottom: 50px;
    }
    .nav-list.aktive{
       display: block;
       text-align: center;
    }
    .menu.aktive .bar:nth-child(1){
        transform: rotate(45deg) translate(10px, 10px);
    }
    .menu.aktive .bar:nth-child(2){
        opacity: 0%;
    }
    .menu.aktive .bar:nth-child(3){
        transform: rotate(-45deg) translate(6px, -6px);
    }
     header{
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 25px;
        padding-bottom: 80px;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url(../img/header/bg-head.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .head-title {
    margin-left: 50px;
    width: 370px;
    flex-wrap: wrap;
    margin-top: 82px;
}
.head-title-1 {
font-size: 20px;
}
.head-title-2 {
    font-size: 52px;

}
.head-tit-btn{
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}
.head-title-btn {
    width: 110px;
    padding: 11px;
    font-size: 15px;
}
}
@media (max-width: 500px) {
      header{
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 25px;
        padding-bottom: 80px;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url(../img/header/bg-head.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .head-title {
    margin-left: 50px;
    width: 200px;
    flex-wrap: wrap;
    margin-top: 82px;
}
.head-title-1 {
font-size: 15px;
}
.head-title-2 {
    font-size: 32px;
}
.hlogo{
    width: 150px;
}
}
/*header media end*/


/*popular media */
@media (max-width:1153px) {
    .p-boxes{
        max-width: 900px;
         margin-left: auto;
         margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .p-box{
        margin-bottom: 20px;
    }
}
@media (max-width:880px) {
    .p-boxes{
        max-width: 600px;
         margin-left: auto;
         margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:880px) {
    .p-boxes{
        max-width: 280px;
         margin-left: auto;
         margin-right: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}
/*popular media end*/


/* o-nas media end*/
@media (max-width: 1173px) {
    .o-nas-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mw{
     max-width: 920px;
     margin-left: auto;
     margin-right: auto;
}
}
@media (max-width: 880px) {
    .o-nas-container{
        flex-direction: column;
    }
    .o-nas-left{
        text-align: center;
    }
    .o-nas-btn{
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;  
        
    }
    .btn{
       padding: 11px;        
    }
    .o-nas-img{
        width: 373px;
    }
    
    
}
@media (max-width: 800px) {
    .o-nas-bottom{
    display: grid;
    grid-template-columns: 1fr;
}
.mw{
     max-width: 350px;
     margin-left: auto;
     margin-right: auto;
}
}
@media (max-width: 745px) {
    .o-brend {
   background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%),  url(../img/o-brend/o-brend.png);
   padding-top: 297px;
   background-size: 1500px;
   background-repeat: no-repeat;
}
    .o-brend-btn{
        width: 170px;
    }
}
@media (max-width: 480px) {
    .st-box-img{
        width: 64px;
    }
    .boxes1-box {
    text-align: center;
    width: 300px;
}
.o-div{
    display: flex;
    width: 350px;
    justify-content: center;
}
    .o-nas-img{
        width: 273px;
    }
    .o-text2{
        font-size: 14px;
    }
    .m{
      
        width: px;
    }
    .o-nas-left{
        /*background-color: yellow;*/
        width: 350px;
    }
}
@media (max-width: 465px) {
    .o-text{
        font-size: 14px;
        width: 300px;
        font-weight: 400;
        font-style: Bold;
        padding-bottom: 8px;
        line-height: 20px;
    }
    .o-div-text{
display: flex;
justify-content: center;
    }
    .o-text2{
        font-size: 15px;
    }
}
@media (max-width: 400px) {
    .o-brend {
   background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%),  url(../img/o-brend/o-brend.png);
   padding-top: 297px;
   background-size: 1000px;
   background-repeat: no-repeat;
   overflow: hidden;
}
    .o-brend-btn{
        width: 156px;
      
    }
    .div1{
        padding-bottom: 166px;
       
    
    }
}
/* o-nas media end*/


/* footer media start*/
@media (max-width: 795px) {
    .footer{
        text-align: center;
    }
    .logo{
        margin-top: 30px;
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
       
    }
    .logo-icons{
        display: flex;
        justify-content: center;
    }
    
}
/* footer media end*/


/* katalog media start*/
@media (max-width:1243px) {
    .katalog-box{
    width: 300px;
}
.katalog-box-img{
    width: 300px;
}
.katalog-box-btn{
        margin-left: 50px;
}
}
@media (max-width:1153px) {
    .katalog-box{
    width: 280px;
}
.katalog-box-img{
    width: 280px;
}
.katalog-box-btn{
        margin-left: 38px;
}
}
@media (max-width:1075px) {
    .katalog-box{
    width: 250px;
}
.katalog-box-img{
    width: 250px;
}
.katalog-box-btn{
        margin-left: 20px;
}
}
@media (max-width: 984px) {
    .katalog-boxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        .katalog-box{
    width: 300px;
}
.katalog-box-img{
    width: 300px;
}
.katalog-box-btn{
        margin-left: 50px;
}
}
@media (max-width: 880px) {
.katalog-boxes{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .katalog-box{
    width: 300px;
}
.katalog-box-img{
    width: 300px;
}
.katalog-box-btn{
        margin-left: 50px;
}
    .katalog-container {
        padding: 84px 0;
    }

}
@media (max-width: 400px) {
    .katalog-top-titles {
    flex-direction: column;
    display: block;
    }
    .o-div2-text{
        margin-left: 50px;
    }
    .footer-list {
        flex-direction: column;
         border-top: 1px solid white;
      padding-top: 50px;
    }
}
/* katalog media end*/


/* kontakt media start*/
@media (max-width: 1300px) {
    .contact-container {
       gap: 300px;
    }
}



@media (max-width: 1280px) {

}



@media (max-width: 1222px) {
    .contact-container {
       gap: 200px;
    }
}
@media (max-width: 1121px) {
    .contact-container {
       gap: 150px;
    }
}
@media (max-width: 1070px) {
    .contact-container {
       gap: 100px;
    }   
}
@media (max-width: 1023px) {
    .con-input {
    width: 350px;
}
.con-right-top-tell{
    font-size: 23px;
}
.con-right-links{
    display: flex;
    gap: 34px;
}
}
@media (max-width: 915px) {
    .con-input {
    width: 330px;
}
.con-right-top-tell{
    font-size: 20px;
}
.con-right-links{
    display: flex;
    gap: 26px;
}
}
@media (max-width: 900px) {
    .contact-container {
       flex-direction: column;
      
    }
    .contact{
         max-width: 760px;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
    }
    .con-right-links{
        display: flex;
        justify-content: center;
    }
     .con-input {
    width: 370px;
}
.con-btn{
    width: 190px;
    padding: 18px 30px;
    margin-left: 70px;
}
}
@media (max-width: 910px) {
    .con-btn{
    width: 190px;
    padding: 18px 30px;
    margin-left: 50px;
}
}
@media (max-width:755px) {
    .contact {
    padding: 136px 167px;
}
}
@media (max-width: 657px) {
.con-btn{
    width: 190px;
    padding: 18px 30px;
    margin-left: 60px;
}
.con-input{
    width: 300px;
}
}

@media (max-width:643px) {
    .contact {
    padding: 136px 127px;
}

}
@media (max-width:497px) {
    .contact {
    padding: 136px 87px;
}
}
@media (max-width:430px) {
.contact {
    padding: 136px 37px;
}
.con-input{
    width: 308px;
}
}
/* kontakt media end*/

/*model css start*/
.model {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.model-container {
    background-color: white;
    position: relative;
    width: 300px;
    text-align: center;
    height: 550px;
    margin-top: 100px;
}
.x {
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 1px;
}
.modelTit{
   padding-bottom: 0;
}
.model-img {
    margin-top: 20px;
    padding-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}
.label {
    display: block;
    
}
.input {
    width: 170px;
    margin-left: 45px;
    padding: 7px;
    border-radius: 20px;
    background-color: white;
    outline: 1px solid rgba(251, 75, 122, 1);
    border: 1px solid rgba(251, 75, 122, 1);
    color: rgba(251, 75, 122, 1);
}
.model-btn {
    margin-left: 25px;
    
}
/*model css start*/


/*video css start*/
.video {
     display: none;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.video-container {
    width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 600px;
}
.v-exit {
    cursor: pointer;
    position: absolute;
    right: 115px;
    top: -10px;
    background-color: rgb(0, 0, 0);
    padding: 4px 8px;
    color: white;
    border-radius: 100%;
}
.video-img {
    height: 600px;
}

@media (max-width: 593px) {
    .video-img{
       width: 300px;
    }
    .v-exit{
        right: 130px;
        top: 28px;
    }
}
@media (max-width: 567px) {

    .v-exit{
        right: 120px;
        top: 28px;
    }
}
@media (max-width: 551px) {

    .v-exit{
        right: 110px;
        top: 28px;
    }
}
@media (max-width: 530px) {

    .v-exit{
        right: 90px;
        top: 28px;
    }
}
@media (max-width: 492px) {

    .v-exit{
        right: 80px;
        top: 28px;
    }
}
@media (max-width: 474px) {

    .v-exit{
        right: 70px;
        top: 28px;
    }
}
@media (max-width: 451px) {

    .v-exit{
        right: 60px;
        top: 28px;
    }
}
@media (max-width: 425px) {

    .v-exit{
        right: 50px;
        top: 28px;
    }
}
@media (max-width: 404px) {

    .v-exit{
        right: 20px;
        top: 28px;
    }
}
/* video css end*/